<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventum.ma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_eventum"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.ui.activities.GroupDetails"></activity>
        <activity android:name=".views.ui.activities.EventDetails" />
        <activity android:name=".views.ui.activities.SignUpActivity" />
        <activity android:name=".views.ui.activities.SignInActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".views.ui.activities.StartActivity" />
        <activity android:name=".views.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>